@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #64748B;
}

::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D1D5DB;
}